  .container-logo {
    background-size: cover;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }   
  .logo {
      letter-spacing: -0.05em;
      font-size: 20vh;
      transition: all 0.25s ease-out;
  }

  #sub-logo{
    font-size: 5vh;
  }
  .center{
    padding-top: 25vh;
  }
  
  /*.logo:hover {
      text-shadow: -16px 6px 75px #A2B5BB;
  } */