body{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(54deg, #9164ff, #8bfff4);
    color: #3c3f64;
    overflow-x: hidden;
  }
.hw-100{
  width: 100vw;
  height: 90vh;
}

.fixed-footer {
	text-align: center;
	margin-top: auto;
	height: 10vh;
  background-color: transparent;
}

.font{
  font-family: 'Fuzzy Bubbles', cursive;
}



