body{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(54deg, #9164ff, #8bfff4);
    color: #3c3f64;
    overflow: hidden;
  }
.main{
  width: 100vw;
  height: 85vh;
}
.fixed-footer {
	text-align: center;
    height: 20vh;
  background-color: transparent;
}

.font{
  font-family: 'Fuzzy Bubbles', cursive;
}

.fixed-footer a{
  color: white;
text-decoration: none;
font-size: 2vw;
}
.fixed-footer a:hover{
  text-decoration: underline;
  color: black;
}

.cardStyle{
  margin-top: 20vh;
  margin-right: 10vw;
  margin-bottom: 20vh;
  margin-left: 5vw;
  height: 60vh;
  width: 80vw;
  background-color: transparent;
  border: 0px;
}

.bg-transparent{
  background-color: transparent;
  border: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Media Queries*/

@media (max-width:370px) {
    .fixed-footer a{
        font-size: 3vw !important;
    }
}

@media (min-width:371px) and (max-width:576px) {
    .fixed-footer a{
        font-size: 3vw !important;
    }

}
